GH_USERNAME=yourusername
GH_PASSWORD=ghp_LKiusydhafllj786t8o7iuhKKJKK
GH_OWNER_ORG=yourorgname
GH_MIRROR_TOKEN=yourusername:ghp_LKiusydhafllj786t8o7iuhKKJKKLUKGDSFas7t78tiglkjHKK
GL_USERNAME=yourusername
GL_PASSWORD=glsadfpat-assadfsasdgg
TF_USERNAME=${GL_USERNAME}
TF_PASSWORD=${GL_PASSWORD}
TF_HOST=https://git.rajant.health
