GL_PROJECT_ID=8008
TF_PROJECT_ID=${GL_PROJECT_ID}
GH_USERNAME=yourusername
GH_PASSWORD=ghp_LKiusydhafllj786t8o7iuhKKJKK
GH_OWNER_ORG=yourorgname
GH_MIRROR_TOKEN=yourusername:ghp_LKiusydhafllj786t8o7iuhKKJKKLUKGDSFas7t78tiglkjHKK
GL_USERNAME=yourusername
GL_PASSWORD=glsadfpat-assadfsasdgg
TF_USERNAME=${GL_USERNAME}
TF_PASSWORD=${GL_PASSWORD}
TF_HOST=https://git.rajant.health
TF_ADDRESS=${TF_HOST}/api/v4/projects/${TF_PROJECT_ID}/terraform/state/tware-dayzero-provisioning
ARTIFACTORY_ACCESS_TOKEN=asdtqw4t3hbsgdbew54t35t
