GH_USERNAME=yourusername
GH_PASSWORD=ghp_LKiusydhafllj786t8o7iuhKKJKK
GL_USERNAME=yourusername
GL_PASSWORD=glsadfpat-assadfsasdgg
TF_USERNAME=${GL_USERNAME}
TF_PASSWORD=${GL_PASSWORD}
TF_HOST=https://git.rajant.health
